recursive-include doc_src *
recursive-include docs *

recursive-include starboardfolio/static *
recursive-include starboardfolio/templates *

include LICENSE
include README
include *.txt

prune example/